@font-face {
  font-family: "cookie";
  src: url("../../public/fonts/CookiesandmilkRegular-W64Y.ttf");
}
body {
  margin: 0;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.title {
  text-align: center;
}

.titleS {
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
}

.titleL {
  font-family: "cookie";
  color: #1F1F24;
  font-size: 40px;
  margin: 0%;
}

.green {
  color: #23D3C0;
}

.marginTopBot {
  margin-top: 100px;
  margin-bottom: 100px;
}

header {
  font-family: Arial, Helvetica, sans-serif;
  position: fixed;
  width: 100%;
  top: 0;
  background-color: white;
  z-index: 1;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav a {
  text-decoration: none;
  color: black;
}
header nav a h1 span {
  color: #23D3C0;
}
header nav button {
  background-color: #23D3C0;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}
header nav button:hover {
  background-color: #ac5151;
}
header ul {
  display: flex;
}
header ul li {
  list-style: none;
  margin: 20px;
  font-weight: 600;
}
header ul li a {
  text-decoration: none;
  color: grey;
}
header ul li:hover a {
  color: black;
  border-bottom: 3px solid #23D3C0;
}
header ul .btnActiveNav {
  color: black;
  border-bottom: 3px solid #23D3C0;
}

#modeUp {
  position: fixed;
  bottom: 30px;
  right: 30px;
  display: flex;
  z-index: 1;
}
#modeUp .changeMode {
  background-color: #23D3C0;
  color: white;
  padding: 10px 12px;
  font-size: 20px;
  border-radius: 25px;
  margin: 10px;
  cursor: pointer;
}
#modeUp .changeMode:hover {
  background-color: #ac5151;
}
#modeUp .pageUp {
  background-color: #23D3C0;
  color: white;
  padding: 10px 14px;
  font-size: 20px;
  border-radius: 25px;
  margin: 10px;
  cursor: pointer;
}
#modeUp .pageUp:hover {
  background-color: #ac5151;
}

.darkMode {
  background-color: black;
}
.darkMode header {
  background-color: black;
}
.darkMode header h1 {
  color: white;
}
.darkMode header .btnActiveNav {
  color: white;
}
.darkMode #about {
  color: white;
}
.darkMode #about .titleL {
  color: white;
}
.darkMode #about #about1imgTxt p {
  color: black;
}
.darkMode #about #about1imgTxt .green {
  color: #23D3C0;
}
.darkMode #menu {
  color: white;
}
.darkMode #menu .titleL {
  color: white;
}
.darkMode #events .titleL {
  color: white;
}
.darkMode #book .titleL {
  color: white;
}
.darkMode #contact .titleL {
  color: white;
}
.darkMode #contact .contactForm {
  background-color: #EEEEEE;
}

#myModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  /* Modal Content/Box */
  /* The Close Button */
}
#myModal .modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  max-width: 400px;
}
#myModal .modal-content .contentModal {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
#myModal .modal-content .contentModal input {
  width: 100%;
  height: 40px;
  margin: 10px 0;
}
#myModal .modal-content .contentModal button {
  background-color: #23D3C0;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}
#myModal .modal-content .contentModal button:hover {
  background-color: #ac5151;
}
#myModal .modal-content .contentModal hr {
  width: 30%;
  margin: 20px;
}
#myModal .close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
#myModal .close:hover,
#myModal .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#home {
  margin-top: 90px;
  background-color: #EEEEEE;
  font-family: Arial, Helvetica, sans-serif;
}
#home .container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 0;
}
#home #txtHome {
  max-width: 400px;
}
#home #txtHome h1 {
  font-family: "cookie";
  font-size: 50px;
}
#home .btnGreen {
  background-color: #23D3C0;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
  box-shadow: 0px 10px 20px -5px rgba(73, 45, 45, 0.2);
}
#home .btnGreen:hover {
  background-color: #ac5151;
}
#home .btnWatch {
  background-color: rgba(0, 0, 0, 0);
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: 600;
}
#home .btnWatch i {
  margin: 5px;
  padding: 8px 10px;
  border-radius: 20px;
  border: 3px solid #23D3C0;
  color: #23D3C0;
}
#home .btnWatch:hover {
  color: #23D3C0;
}
#home .btnWatch:hover i {
  border: 3px solid #ac5151;
  color: #ac5151;
}
#home #imgHome {
  height: 100%;
}
#home #imgHome img {
  width: 100%;
}

#about {
  width: 100%;
}
#about #about1 {
  width: 100%;
  display: flex;
  padding: 50px 0;
}
#about #about1 ul {
  list-style-type: none;
  padding: 15px;
}
#about #about1 li {
  margin: 10px 0;
}
#about #about1 li i {
  color: #23D3C0;
}
#about #about1 p, #about #about1 li {
  font-family: Arial, Helvetica, sans-serif;
}
#about #about1 #about1img {
  width: 60%;
  position: relative;
  background-image: url("../../../public/image/about.jpg");
  margin-right: 50px;
}
#about #about1 #about1img #about1imgTxt {
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  width: 80%;
}
#about #about1 #about1img #about1imgTxt p {
  text-align: center;
  font-weight: 600;
}
#about #about1 #about1txt {
  width: 40%;
}
#about #about1 #about1txt div {
  position: relative;
}
#about #about1 #about1txt div img {
  width: 100%;
}
#about #about1 #about1txt div i {
  position: absolute;
  top: 48%;
  left: 48%;
  padding: 15px 18px;
  color: white;
  background-color: #23D3C0;
  border-radius: 30px;
}
#about #about2 {
  background-color: #EEEEEE;
  font-family: Arial, Helvetica, sans-serif;
}
#about #about2 .container {
  display: flex;
  justify-content: space-between;
  padding: 100px;
}
#about #about2 .greenCard {
  background-color: #23D3C0;
  color: white;
  width: 30%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#about #about2 .greenCard h3 {
  font-size: 35px;
  width: 100%;
}
#about #about2 .greenCard button {
  background-color: #78ebdf;
  color: white;
  border: none;
  padding: 10px 20px;
  width: 120px;
  border-radius: 20px;
  cursor: pointer;
}
#about #about2 .whiteCard {
  background-color: white;
  width: 20%;
  padding: 40px 0;
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#about #about2 .whiteCard i {
  color: #23D3C0;
  background-color: rgb(255, 235, 235);
  padding: 15px 15px;
  border-radius: 30px;
  font-size: 30px;
}
#about #about2 .whiteCard h4 {
  color: #1F1F24;
  font-size: 20px;
  font-weight: 400;
  margin: 30px;
}
#about #about2 .whiteCard p {
  margin: 0 25px;
  color: grey;
}
#about #about2 .whiteCard:hover {
  transform: scale(1.1);
}
#about #about3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../../../public/image/stats-bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0;
}
#about #about3 .container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}
#about #about3 h3 {
  font-size: 45px;
  margin: 0;
}
#about #about3 p {
  font-weight: 600;
  color: rgba(255, 255, 255, 0.6);
}

#menu .navMenu {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 500;
}
#menu .navMenu p {
  font-size: 20px;
  margin: 15px;
  padding: 10px;
  border-bottom: 2px solid grey;
  cursor: pointer;
}
#menu .navMenu .navActive {
  color: #23D3C0;
  border-bottom: 2px solid #23D3C0;
}
#menu .titleMenu p {
  margin: 0;
}
#menu .titleMenu h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 35px;
  color: #23D3C0;
  text-align: center;
  margin: 0;
}
#menu .choiceMenu {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
#menu .choiceMenu div {
  width: 25%;
  margin: 30px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
#menu .choiceMenu div img {
  width: 100%;
  margin: 30px 0;
}
#menu .choiceMenu div h4 {
  font-size: 20px;
  margin: 0;
}
#menu .choiceMenu div p {
  color: grey;
  margin: 15px 0;
}
#menu .choiceMenu div h5 {
  color: #23D3C0;
  font-size: 20px;
  margin: 0;
}

#testimonials {
  background-color: #EEEEEE;
  padding: 100px 0;
}
#testimonials .overflowHiden {
  width: 1200px;
  overflow: hidden;
}
#testimonials .overflowHiden .containerCarousel {
  display: flex;
  width: 400%;
  transition-duration: 1s;
}
#testimonials .overflowHiden .containerCarousel .carouselItem {
  width: 100%;
  margin-top: 50px;
}
#testimonials .overflowHiden .containerCarousel .carouselItem .carouselItemContainer {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}
#testimonials .overflowHiden .containerCarousel .carouselItem .carouselItemContainer .greenLine {
  width: 6px;
  height: 150px;
  background-color: #23D3C0;
  margin-right: 20px;
}
#testimonials .overflowHiden .containerCarousel .carouselItem .carouselItemContainer .carouselItemText {
  font-family: Arial, Helvetica, sans-serif;
}
#testimonials .overflowHiden .containerCarousel .carouselItem .carouselItemContainer .carouselItemText h4 {
  margin: 10px 0 0 0;
}
#testimonials .overflowHiden .containerCarousel .carouselItem .carouselItemContainer .carouselItemText p {
  margin: 0;
}
#testimonials .overflowHiden .containerCarousel .carouselItem .carouselItemContainer .carouselItemText .star {
  color: rgb(253, 207, 0);
  margin-top: 10px;
}
#testimonials .overflowHiden .containerCarousel .carouselItem .carouselItemContainer .carouselItemText .fa-solid {
  color: red;
}
#testimonials .overflowHiden .containerCarousel .carouselItem .carouselItemContainer .carouselItemImg {
  margin-left: 20px;
}
#testimonials .overflowHiden .containerCarousel .carouselItem .carouselItemContainer .carouselItemImg img {
  height: 150px;
  border-radius: 200px;
  border: 3px solid white;
}
#testimonials .carouselBtn {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
#testimonials .carouselBtn button {
  background-color: grey;
  width: 10px;
  height: 10px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  margin: 5px;
}
#testimonials .carouselBtn .btnActive {
  background-color: #23D3C0;
}

#events .eventsCarousel {
  width: 100%;
  overflow: hidden;
  margin-top: 50px;
}
#events .eventsCarousel .eventsView {
  width: 172%;
  display: flex;
  transition-duration: 1s;
}
#events .eventsCarousel .eventsView .eventsCarouselItem {
  position: relative;
  width: 32%;
  height: 650px;
  margin-right: 2%;
  overflow: hidden;
}
#events .eventsCarousel .eventsView .eventsCarouselItem .eventsTxt {
  position: absolute;
  bottom: 0;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
}
#events .eventsCarousel .eventsView .eventsCarouselItem .eventsTxt h3 {
  font-size: 30px;
  margin: 10px 0;
}
#events .eventsCarousel .eventsView .eventsCarouselItem .eventsTxt h4 {
  font-size: 40px;
  padding: 5px 0;
  border-bottom: 3px solid #23D3C0;
  display: inline;
}
#events .eventsCarousel .eventsView .eventsCarouselItem .eventsTxt p {
  font-size: 18px;
}
#events .eventsCarousel .eventsView .eventsCarouselItem .eventsImg {
  position: absolute;
  top: 0;
  z-index: -1;
  background-color: black;
}
#events .eventsCarousel .eventsView .eventsCarouselItem .eventsImg img {
  opacity: 0.4;
}
#events .carouselBtnEvents {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
#events .carouselBtnEvents button {
  background-color: grey;
  width: 10px;
  height: 10px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  margin: 5px;
}
#events .carouselBtnEvents .btnActiveEvents {
  background-color: #23D3C0;
}

#chefs {
  background-color: #EEEEEE;
  padding: 100px 0;
}
#chefs #chefsCards {
  display: flex;
  justify-content: space-between;
  margin: 30px 0;
}
#chefs #chefsCards .cardChef {
  width: 30%;
  background-color: white;
}
#chefs #chefsCards .cardChef .chefImg {
  position: relative;
}
#chefs #chefsCards .cardChef .chefImg img {
  width: 100%;
}
#chefs #chefsCards .cardChef .chefImg svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
#chefs #chefsCards .cardChef .chefImg .chefSocial {
  opacity: 0;
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px;
  border-radius: 5px;
}
#chefs #chefsCards .cardChef .chefImg .chefSocial i {
  font-size: 20px;
  margin: 5px;
  color: rgba(93, 93, 93, 0.5);
}
#chefs #chefsCards .cardChef .chefImg .chefSocial i:hover {
  color: #5d5d5d;
}
#chefs #chefsCards .cardChef .chefTxt {
  text-align: center;
  padding: 0px 30px 30px 30px;
  font-family: Arial, Helvetica, sans-serif;
}
#chefs #chefsCards .cardChef .chefTxt h5 {
  color: grey;
  margin: 0;
}
#chefs #chefsCards .cardChef:hover {
  transform: scale(1.1);
}
#chefs #chefsCards .cardChef:hover .chefSocial {
  opacity: 1;
}

#book .bookTable {
  display: flex;
  margin: 50px 0;
}
#book .bookTable .bookImg {
  width: 33%;
}
#book .bookTable .bookImg img {
  width: 100%;
  display: block;
}
#book .bookTable .bookForm {
  width: 67%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 40px;
  background-color: #EEEEEE;
}
#book .bookTable .bookForm .bookFormInput {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
#book .bookTable .bookForm .bookFormInput input {
  width: 30%;
  height: 40px;
  margin: 10px 0;
}
#book .bookTable .bookForm textarea {
  margin: 10px 0;
  width: 99%;
}
#book .bookTable .bookForm button {
  margin: 10px 0;
  background-color: #23D3C0;
  color: white;
  border: none;
  padding: 10px 40px;
  border-radius: 20px;
  cursor: pointer;
}
#book .bookTable .bookForm button:hover {
  background-color: #ac5151;
}

#gallery {
  background-color: #EEEEEE;
  padding: 50px 0;
}
#gallery .container {
  width: 100%;
  overflow: hidden;
}
#gallery .container .galleryCarousel {
  margin-top: 50px;
  width: 100%;
  transform: translateX(40%);
  transition-duration: 1s;
}
#gallery .container .galleryCarousel .galleryCarouselItems {
  display: flex;
  width: 162%;
}
#gallery .container .galleryCarousel .galleryCarouselItems .galleryCarouselItem {
  width: 19%;
  margin-right: 1%;
}
#gallery .container .galleryCarousel .galleryCarouselItems .galleryCarouselItem img {
  width: 100%;
  transition-duration: 1s;
}
#gallery .container .galleryCarousel .galleryCarouselItems .galleryCarouselItem .imgActiveGallery {
  border: 4px solid #23D3C0;
  transform: scale(1.2);
}
#gallery .container .carouselBtnGallery {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
#gallery .container .carouselBtnGallery button {
  background-color: grey;
  width: 10px;
  height: 10px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  margin: 5px;
}
#gallery .container .carouselBtnGallery .btnActiveGallery {
  background-color: #23D3C0;
}

#contact {
  width: 100%;
}
#contact iframe {
  margin-top: 50px;
}
#contact .contactInfo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
#contact .contactInfo .contactInfoInfo {
  width: 49%;
  background-color: #EEEEEE;
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding: 20px 0;
}
#contact .contactInfo .contactInfoInfo i {
  background-color: #23D3C0;
  color: white;
  padding: 10px;
  border-radius: 20px;
  font-size: 20px;
  margin-left: 20px;
}
#contact .contactInfo .contactInfoInfo div {
  margin-left: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
#contact .contactInfo .contactInfoInfo div h4 {
  margin: 5px;
  color: gray;
}
#contact .contactInfo .contactInfoInfo div p {
  margin: 5px;
}
#contact .contactForm {
  width: 100%;
  box-shadow: 0px 0px 26px -7px rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  margin-top: 30px;
}
#contact .contactForm .conteneurContact {
  margin: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#contact .contactForm .conteneurContact div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#contact .contactForm .conteneurContact div input {
  width: 48%;
  height: 40px;
  margin: 10px 0;
}
#contact .contactForm .conteneurContact .w100 {
  width: 100%;
  height: 40px;
  margin: 10px 0;
}
#contact .contactForm .conteneurContact textarea {
  width: 100%;
  margin: 10px 0;
}
#contact .contactForm .conteneurContact button {
  margin: 10px 0;
  background-color: #23D3C0;
  color: white;
  border: none;
  padding: 10px 40px;
  border-radius: 20px;
  cursor: pointer;
}
#contact .contactForm .conteneurContact button:hover {
  background-color: #ac5151;
}

footer {
  background-color: #1F1F24;
  font-family: Arial, Helvetica, sans-serif;
  border: solid;
  border-color: #1F1F24;
}
footer .container {
  display: flex;
  justify-content: space-between;
}
footer .footerItem {
  color: white;
  display: flex;
  padding: 50px 0;
}
footer .footerItem i {
  margin: 0 10px;
}
footer .footerItem .footerTitle {
  font-weight: 600;
  margin-top: 0px;
}
footer .footerItem .footerTxt {
  margin: 5px 0;
  font-size: 12px;
  color: #EEEEEE;
}
footer .footerSocial {
  color: white;
  padding: 50px 0;
}
footer .footerSocial i {
  border: 1px solid #EEEEEE;
  padding: 5px;
  border-radius: 15px;
  margin-right: 5px;
}
footer hr {
  max-width: 1200px;
  height: 0px;
  border: none;
  border-top: 1px solid #EEEEEE;
}
footer .footer2 {
  font-size: 12px;
  color: #EEEEEE;
  text-align: center;
}
footer .footer2 p {
  margin: 50px 0;
}

/*# sourceMappingURL=main.css.map */
