#about{
    width: 100%;

    //ABOUT1
    #about1 {
        width: 100%;
        display: flex;
        padding: 50px 0;

        ul {
            list-style-type: none;  
            padding: 15px;
        }
        li {
            margin: 10px 0;
            i {
                color: $thisGreen;
            }
        }

        p , li{
            font-family: Arial, Helvetica, sans-serif;
        }

        #about1img {
            width: 60%;
            position: relative;
            background-image: url("../../../public/image/about.jpg");
            margin-right: 50px;

            #about1imgTxt {
                position: absolute;
                bottom: 50px;
                left: 0; 
                right: 0; 
                margin-left: auto; 
                margin-right: auto; 
                background-color: white;
                width: 80%;

                p {
                    text-align: center;
                    font-weight: 600;
                }
            }         
        }

        #about1txt {
            width: 40%;

            div {
                position: relative;

                img {
                    width: 100%;
                }
                    
                i {
                    position: absolute;
                    top: 48%;
                    left: 48%;

                    padding: 15px 18px;
                    color: white;
                    background-color: $thisGreen;
                    border-radius: 30px;
                }
            }        
        }
    }

    //ABOUT2
    #about2 {
        background-color: $thisGrey;
        font-family: Arial, Helvetica, sans-serif;

        .container {
            display: flex;
            justify-content: space-between;
            padding: 100px;
        }

        .greenCard {
            background-color: $thisGreen;
            color: white;
            width: 30%;
            padding: 30px;

            display: flex;
            flex-direction: column;
            align-items: center;

            h3 {
                font-size: 35px;
                width: 100%;
            }

            button {
                background-color: #78ebdf;
                color: white;
                border: none;
                padding: 10px 20px;
                width: 120px;
                border-radius: 20px;
                cursor: pointer;
            }
        }

        .whiteCard {
            background-color: white;
            width: 20%;
            padding: 40px 0;
            margin: 20px 0;

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;

            i {
                color: $thisGreen;
                background-color: rgb(255, 235, 235);
                padding: 15px 15px;
                border-radius: 30px;
                font-size: 30px;
            }

            h4 {
                color: $thisBlack;
                font-size: 20px;
                font-weight: 400;
                margin: 30px;
            }

            p {
                margin: 0 25px;
                color: grey;
            }
        }

        .whiteCard:hover {
            transform: scale(1.1);
        }
    }

    //ABOUT3
    #about3 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)) , url("../../../public/image/stats-bg.jpg");
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        padding: 100px 0;

        .container {
            display: flex;
            justify-content: space-around;
            align-items: center;

            color: white;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
        }

        h3 {
            font-size: 45px;
            margin: 0;
        }

        p {
            font-weight: 600;
            color: rgba($color: #ffffff, $alpha: 0.6);
        }
    }
}

@media only screen and (max-width: 1250px) {
#about {
    .container {
        max-width: 800px;
    }

    .greenCard {
        h3 {
            margin: 0;
        }
    }

    #about2 .whiteCard {
        h4 {
            margin: 10px;
        }
        p {
            margin: 10px;
        }
    }
}
}

@media only screen and (max-width: 850px) {
#about{
    .container {
        max-width: 550px;
    }
}
#about2 {
    padding-left: 0;
    padding-right: 0;

    .container {
        flex-direction: column;
        max-width: 550px;
    }
}
#about #about2 .greenCard{
    width: 100%;
    padding: 0;
    h3 {
        padding: 30px;
        width: auto;
    }
    p {
        padding: 30px;
    }
    button {
        margin-bottom: 30px;
    }
}
#about #about2 .whiteCard{
    width: 100%;
}
}

@media only screen and (max-width: 600px) {
#about{
    .container {
        max-width: 80%;
        margin: auto;
        
    } 
    #about1 {
        flex-direction: column;
    }
    
} 
#about #about1 #about1img {
    width: 100%;
    height: 200px;
} 
#about #about1 #about1txt {
    width: 100%;
}

#about #about2 .container {
    padding-left: 0;
    padding-right: 0;
}

#about #about3 .container {
    flex-direction: column;
}
}