#book {
    .bookTable {
        display: flex;
        margin: 50px 0;

        .bookImg {
            width: 33%;

            img {
                width: 100%;
                height: 100%;
                display: block
            }
        }

        .bookForm {
            width: 67%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 0 40px;
            background-color: $thisGrey;

            .bookFormInput {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                align-items: center;

                input {
                    width: 30%;
                    height: 40px;
                    margin: 10px 0;
                }
            }

            textarea {
                margin: 10px 0;
                width: 99%;
            }

            button {
                margin: 10px 0;
                background-color: $thisGreen;
                color: white;
                border: none;
                padding: 10px 40px;
                border-radius: 20px;
                cursor: pointer;
            }

            button:hover {
                background-color: $thisBrown;
            }
        }
    }
}

@media only screen and (max-width: 1250px) {

}

@media only screen and (max-width: 850px) {
    .container {
        max-width: 550px;
    }
    #book .bookTable {
        flex-direction: column;
    }
    #book .bookTable .bookImg {
        width: 100%;
        height: 200px;
        display: none;
    }
    #book .bookTable .bookForm {
        width: 100%;
        padding-left: 0;
        padding-right: 0;
        background-color: white;
    }
}

@media only screen and (max-width: 600px) {
    .container {
        max-width: 80%;
    }
}