#chefs {
    background-color: $thisGrey;
    padding: 100px 0;

    #chefsCards {
        display: flex;
        justify-content: space-between;
        margin: 30px 0;

        .cardChef {
            width: 30%;
            background-color: white;

            .chefImg {
                position: relative;

                img {
                    width: 100%;
                    
                }
                svg {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                }

                .chefSocial {
                    opacity: 0;
                    position: absolute;
                    top: 20px;
                    right: 20px;
                    display: flex;
                    flex-direction: column;
                    background-color: rgba($color: #ffffff, $alpha: 0.5);
                    padding: 5px;
                    border-radius: 5px;

                    i {
                        font-size: 20px;
                        margin: 5px;
                        color: rgba($color: #5d5d5d, $alpha: 0.5);
                    }

                    i:hover {
                        color: rgba($color: #5d5d5d, $alpha: 1.0);
                    }
                }
            }

            .chefTxt {
                text-align: center;
                padding: 0px 30px 30px 30px;
                font-family: Arial, Helvetica, sans-serif;

                h5{
                    color: grey;
                    margin: 0;
                }
            }
        }

        .cardChef:hover {
            transform: scale(1.1);
            .chefSocial {
                opacity: 1; 
            }
        }
    }
}