#chefs {
    background-color: $thisGrey;
    padding: 100px 0;

    #chefsCards {
        display: flex;
        justify-content: space-between;
        margin: 30px 0;

        .cardChef {
            width: 30%;
            background-color: white;

            .chefImg {
                position: relative;

                img {
                    width: 100%;
                    
                }
                svg {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 100%;
                }
            }

            .chefTxt {
                text-align: center;
                padding: 0px 30px 30px 30px;
                font-family: Arial, Helvetica, sans-serif;

                h5{
                    color: grey;
                    margin: 0;
                }
            }
        }
    }
}