#events {

    .eventsCarousel {
        width: 100%;
        overflow: hidden;
        margin-top: 50px;
        
        .eventsView {
            width: 172%;
            display: flex;
            transition-duration: 1s;
            // transform: translateX(-20%);

            .eventsCarouselItem {
                position: relative;
                width: 32%;
                height: 650px;
                margin-right: 2%;
                overflow: hidden;

                .eventsTxt {
                    position: absolute;
                    bottom: 0;
                    color: white;
                    font-family: Arial, Helvetica, sans-serif;
                    padding: 30px;
                    h3 {
                        font-size: 30px;
                        margin: 10px 0;
                    }

                    h4 {
                        font-size: 40px;
                        padding: 5px 0;
                        border-bottom: 3px solid $thisGreen;
                        display: inline;
                    }

                    p {
                        font-size: 18px;
                    }
                }
                .eventsImg {
                    position: absolute;
                    top: 0;
                    z-index: -1;
                    background-color: black;

                    img {
                        opacity: 0.4;
                    }
                }
            }
        }
    }

    .carouselBtnEvents {
        display: flex;
        justify-content: center;
        margin-top: 50px;

        button {
            background-color: grey;
            width: 10px;
            height: 10px;
            border-radius: 20px;
            border: none;
            cursor: pointer;
            margin: 5px;
        }

        .btnActiveEvents {
            background-color: $thisGreen;
        }
    }
}

@media only screen and (max-width: 1250px) {

}

@media only screen and (max-width: 850px) {
    
}

@media only screen and (max-width: 600px) {

}