#menu {
    .navMenu {
        margin: 50px 0;
        display: flex;
        justify-content: center;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 500;

        p {
            font-size: 20px;
            margin: 15px;
            padding: 10px;
            border-bottom: 2px solid grey;
            cursor: pointer;
        }

        .navActive {
            color: $thisGreen;
            border-bottom: 2px solid $thisGreen;
        }
    }

    .titleMenu {
        p {
            margin: 0;
        }
        
        h3 {
            font-family: Arial, Helvetica, sans-serif;
            font-size: 35px;
            color: $thisGreen;
            text-align: center;
            margin: 0;
        }
    }

    .choiceMenu {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;

        div {
            width: 25%;
            margin: 30px;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            img{
                width: 100%;
                margin: 30px 0;
            }

            h4{
                font-size: 20px;
                margin: 0;
            }

            p {
                color: grey;
                margin: 15px 0;
            }

            h5{
                color: $thisGreen;
                font-size: 20px;
                margin: 0;
            }
        }
    }
}